body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%;

}

.navbarr {
  position: absolute;
  height: 95px;
  overflow: hidden;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  background: #f5f5f5;
}

.logo {
  background: url(rsa1.png) no-repeat 50% 50%;
  background-size: 170px 130px;
  width: 180px;
  height: 42px;
  float: left;
}

.menu {
  position: absolute;
  right: 20px;
}

.menu a {
  color: #333;
  text-decoration: none;
  font-weight: 700;
  margin-left: 20px;
  transition: color 0.3s;
  text-transform: uppercase;
}

.menu a:hover {
  color: green;
}

.btn {
  display: none;
  position: absolute;
  right: 20px;
}

.btn:hover > span {
  background: green;
}

.btn span {
  display: block;
  margin: 6px;
  width: 40px;
  height: 3px;
  background: #333;
}

.heading-hero {
  background: #f5f5f5;
  color: #fff;
  padding: 3px;
  text-align: center;
  margin-bottom: 20px;
}

.gallerycontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 12rem;
}

.gallery-image {
  position: relative;
  margin: 5px;
  display: flex;
  justify-content: space-evenly;
}

.gallery-image img {
  max-width: 350px;
  max-height: 300px;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);
}

footer {
  padding: 2rem;
  background: green;
  display: flex;
  justify-content: center;
}

footer p {
  color: #333;
  font-weight: 500;
}

i {
  padding: 1rem;
}

footer a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  margin-left: 20px;
  transition: color 0.3s;
}

footer a:hover {
  color: #f5f5f5;
}

@media only screen and (max-width: 600px) {
  .navbarr {
    overflow: visible;
  }
  .menu {
    width: 100%;
    right: 0;
    top: 80px;
    background: #f1f1f1;
    overflow: hidden;
    max-height: 0;
  }
  .menu a {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 0;
  }
  .btn {
    display: block;
    cursor: pointer;
  }
  .show {
    max-height: 500px;
  }
  .slides {
    max-width: 90%;
    height: 50vh;
    padding: 2rem;
  }
}